{% extends 'base.html' %}  <!-- Расширение базового шаблона -->
  {% block title %}  
    <title>
      {% if is_edit %}
        Редактировать запись
      {% else %}
        Добавить запись
      {% endif %}
    </title>
    {% endblock title %}
  
    {% block content %}     
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %}
                  Редактировать запись
                {% else %}
                  Добавить запись
                {% endif %}             
              </div>
              <div class="card-body">
                {% load user_filters %}
                {% include 'posts/includes/post_form.html' %}
                {% if is_edit %}        
                  <form method="post" action="{% url 'posts:post_edit' post_id %}">
                {% else %}
                  <form method="post" action="{% url 'posts:post_create' %}">
                {% endif%}
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}               
                    </button> 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock content %}
