{% extends 'base.html' %}  <!-- Расширение базового шаблона -->
{% block title %}  
    <title>Пост {{ post.text|truncatechars:30 }}</title>
{% endblock title %}

{% block content %}
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
            <li class="list-group-item">
              <!-- Название группы -->
              Группа: {{ post.group.title }}, {{ post.group.description|linebreaksbr }}
              {% if post.group %} <br> 
              <a href="{% url 'posts:group_list' post.group.slug %}">
                Все записи группы
              </a>
              {% endif %}
            </li>
            <li class="list-group-item">
              Автор: {{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.post_list.count }}</span>
            </li>
            <li class="list-group-item">
              {% if post.author %}
                <a href="{% url 'posts:profile' post.author.username %}">
                  Все посты пользователя
                </a>
              {% endif %} 
            </li>
            {% if request.user.id == post.author.id %}
            <a class="d-flex justify-content-center" href="{% url 'posts:post_edit' post.id %}">
              <button class="btn btn-primary">
              Редактировать запись
              </button>
            </a>
            {% endif%}
      </aside>
      <article class="col-12 col-md-9">
        <p>
        {{ post.text|linebreaksbr }} 
        </p>
      </article>
    </div> 
{% endblock content %}
